@font-face {
  font-family: 'Ubuntu Titling';
  src: url('../fonts/ubuntu-titling.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: #2bb673;
}
/* i'm pretty sure that this is not how it's supposed to be used but whatever */
html {
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 300;
  background-color: #eee;
}

body.content-loaded {
  animation: enable-scrolling 2.5s forwards;
}

@keyframes enable-scrolling {
  0% {
    position: fixed;
  }
  99% {
    position: fixed;
  }
  100% {
    position: initial;
  }
}

b {
  font-weight: 600;
}

.top, .install, .spot {
  font-family: 'Ubuntu Titling', sans-serif;
  font-size: 2rem;
  min-height: 100vh;
  scroll-snap-align: start;
}

.top {
  display: grid;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #eee;
  padding: 1rem;
}

.brand .logo {
  background-image: url('../graphics/logo.svg');
  width: 12rem;
  height: 12rem;
  max-width: 80vw;
  max-height: 80vw;
  display: inline-block;
  vertical-align: middle;
}

.brand .name {
  font-family: 'Ubuntu Titling';
  font-size: 5rem;
  color: #444;
  margin-left: 2rem;
  display: inline-block;
  vertical-align: middle;
}

.brand .name .letter {
  opacity: 0;
  transition: .1s;
}

.brand .button {
  opacity: 0;
  transform: translateY(-5rem);
}

.content-loaded .brand .button {
  animation: top-button-build .5s 1s forwards;
}

@keyframes top-button-build {
  to {
    opacity: 1;
    transform: none;
  }
}

.button {
  font-family: sans-serif;
  font-size: 1rem;
  padding: 1em .5em;
  max-width: 12rem;
  text-align: center;
  border-radius: .5rem;
  background: #f0f0f0;
  box-shadow: 0 0 .5rem #ccc;
  cursor: pointer;
  text-decoration: none;
  color: #444;
  transition: background-color .2s;
}

.button b {
  color: #444 !important;
  font-weight: 600;
}

.button:hover {
  background: #f7f7f7;
}
.button:active {
  background: #e0e0e0;
}

.info {
  padding: 1rem 10vw;
  font-size: 2rem;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  color: #fff;
  transform: translateY(100%);
}

.content-loaded .info {
  animation: top-info-build .5s 1.5s forwards;
}

@keyframes top-info-build {
  to {
    transform: none;
  }
}

.install {
  background-color: #eee;
  color: #444;
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.install b {
  color: var(--primary);
}

.install p {
  margin: 1rem 0;
}

.install .button {
  margin: 2rem 0;
}

.install .advanced {
  color: var(--primary);
  text-decoration: underline;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.install .advanced:hover {
  text-decoration: none;
}

.install .tutorial {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.install .tutorial:target {
  display: flex;
}

.install .tutorial .shade {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000a;
}

.install .tutorial .popup {
  background-color: #eee;
  border-radius: .5rem;
  border-top: .2rem solid var(--primary);
  max-width: calc(80vw - 16rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 4rem;
  z-index: 1;
  overflow-y: auto;
}

.install .compatibility {
  text-align: center;
  font-size: 1rem;
  display: flex;
}

.install .compatibility .browsers, .install .compatibility .sites {
  margin: 0 2rem;
}

.install .compatibility .browser, .install .compatibility .site {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0 .5rem;
  background-repeat: no-repeat;
  background-position: center;
}
.install .compatibility .browser-firefox { background-image: url('../graphics/browser-firefox.svg') }
.install .compatibility .browser-safari { background-image: url('../graphics/browser-safari.svg') }
.install .compatibility .browser-chrome { background-image: url('../graphics/browser-chrome.svg') }
.install .compatibility .site-reddit { background-image: url('../graphics/site-reddit.svg') }
.install .compatibility .site-youtube { background-image: url('../graphics/site-youtube.svg') }

.spot {
  position: relative;
  background-color: var(--primary);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spot .video {
  display: block;
  width: 80vmin;
  height: 45vmin;
  border: 2px solid #fff;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.spot .github {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1rem;
}

.spot .github a {
  color: #fff;
  text-decoration: underline;
}

.spot .github a:hover {
  text-decoration: none;
}

.disclaimer {
  background-color: #903;
  color: #fff;
  padding: 1em .5em;
  font-size: .75rem;
  scroll-snap-align: start;
}

@media screen and (max-width: 767px) {
  .brand .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .brand .name {
    margin: 0;
    font-size: 15vw;
  }
}
